
@font-face {
    font-family: Objektiv;
    src: url("/assets/fonts/Objektiv-Mk1-Regular.otf");
}


/* add a more bold version of text for logo (in index page) */
@font-face {
	font-family: ObjectivBold;
	src: url("/assets/fonts/Objectiv-Mk1-Bold.otf");
}
